<div class="container-boarding">
  <div class="boarding-pass">
    <div class="section left-section">
      <div class="airline-logo">Airline</div>
      <div class="board-info">
        <div><span>Name of Passenger:</span> John Doe</div>
        <div><span>From:</span> JFK</div>
        <div><span>To:</span> LHR</div>
        <div><span>Date:</span> 2023-11-25</div>
        <div><span>Time:</span> 10:00 AM</div>
        <div><span>Flight:</span> AB1234</div>
        <div><span>Seat:</span> 21A</div>
        <div><span>Gate:</span> D4</div>
      </div>
      <div class="footer-info">Gate closes 45 minutes before departure</div>
    </div>
    <div class="section right-section">
      <div class="airline-logo">Airline</div>
      <div class="board-info">
        <div><span>Name of Passenger:</span> John Doe</div>
        <div><span>Date:</span> 2023-11-25</div>
        <div><span>From:</span> JFK</div>
        <div><span>To:</span> LHR</div>
        <div><span>Time:</span> 10:00 AM</div>
        <div><span>Flight:</span> AB1234</div>
      </div>
      <div class="barcode"></div>
      <div class="footer-info">Have a nice trip!</div>
    </div>
  </div>

</div>