    <div class="header" style="background-color: #0F0050; height: 100px;"></div>
    <div class="main-content">
        <div class="centered-box">
            <div class="form-container">
                <div class="dropdown-row">
                    <select class="dropdown" id="trip-type-dropdown">
                        <option id="idaVolta">Ida e Volta</option>
                        <option>Só Ida</option>
                    </select>
                    <select class="dropdown">
                        <option>Economy</option>
                        <option>Business</option>
                    </select>
                    <select class="dropdown">
                        <option>1 passageiro</option>
                        <option>2 passageiros</option>
                    </select>
                </div>
                <div class="input-row">
                    <input type="text" placeholder="Origem">
                    <input type="text" placeholder="Destino">
                    <input type="text" id="departure-date" placeholder="Data da Ida">
                    <input type="text" id="return-date" placeholder="Data da Volta">
                    <button class="search-button"><a href="/resultsVoos">Procurar</a></button>
                </div>
            </div>
        </div>
    </div>