<div class="header"></div>
<div class="main-content">
  <div class="centered-box">
    <div class="form-container">
      <form action="/resultsVoos" method="GET">
      <div class="dropdown-row">
        <select class="dropdown" name="tipo" id="trip-type-dropdown">
          <option>Só ida</option>
          <option>Ida e volta</option>
        </select>
      </div>
      <div class="input-row">
        <input type="text" name="origem" placeholder="Origem" required/>
        <input type="text" name="destino" placeholder="Destino" required/>
        <button type="button" class="search-button" id="buscarTrechoButton">Buscar Trecho</button>
        <input type="date" name="dataIda" />
        <input type="date" id="dataVolta" name="dataVolta" />
        <button class="search-button">Procurar</button>
      </div>
      </form>
    </form>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
  const idaVolta = document.getElementById("trip-type-dropdown");
  const dataVolta = document.getElementById("dataVolta");

  if (idaVolta) {
    idaVolta.addEventListener("change", function () {
      if (idaVolta.value === "Ida e volta") {
        dataVolta.style.display = "block";
      } else {
        dataVolta.style.display = "none";
      }
    });
  }
});

</script>