
<div class="top-bar"></div>
<div class="info-bar">
  <div class="info-container">
    <label>Origem:</label>
    <span class="info-detail">São Paulo</span>
  </div>
  <div class="info-container">
    <label>Destino:</label>
    <span class="info-detail">Rio de Janeiro</span>
  </div>
  <div class="info-container">
    <label>Datas:</label>
    <span class="info-detail">ter., 09 de jan. - sex., 26 de jan.</span>
  </div>
  <div class="info-container">
    <label>Passageiros:</label>
    <span class="info-detail">1 Passageiro</span>
  </div>
  <span class="info-detail">Economy</span>
</div>

<div class="fare-container">
  <div class="fare-card light">
    <h3 class="fare-title">Light</h3>
    <p class="fare-price">BRL 397,55</p>
    <button class="fare-button light">Continuar com a Light</button>
  </div>

  <div class="fare-card">
    <h3 class="fare-title">Standard</h3>
    <p class="fare-price">BRL 490,55</p>
    <button class="fare-button">Escolher</button>
  </div>

  <div class="fare-card">
    <h3 class="fare-title">Full</h3>
    <p class="fare-price">BRL 570,55</p>
    <button class="fare-button">Escolher</button>
  </div>

  <div class="fare-card premium">
    <h3 class="fare-title">Premium Economy</h3>
    <p class="fare-price">BRL 580,55</p>
    <button class="fare-button">Escolher</button>
  </div>
</div>

